<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EDU-vents</title>
        <meta name="description" content="EDU-vents - This website was created solely for the help of Philomaths. It would show the most important educational events happening around the world, providing an easy-to-use portal for them.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/seco.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1 onclick="location.href='/'">
                <img alt="logo" src="/images/logo.jpg">
                <span>EDU-vents</span>
            </h1>
            <nav>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <div class="sections">
            <section>
                <img width="100px" src="/images/logo.jpg">
    
                <h1>Something went wrong. talk to Abdullah AlJasser IMMEDIATELY! Take a picture of the error displayed below.</h1>
                <h1>حدث خطأ. تكلم مع عبدالله الجاسر فورا. خذ صورة للمكتوب ادناه</h1>
                <% if (typeof error !== "undefined") { %>
                    <p><%= error %></p>
                <% } %>
            </section>
        </div>
    </body>
</html>