<%- include("../partials/header") %>

    <div class="sections">
        <section>
            <h1><%= team.name %></h1>

            <a href="/">GO BACK</a>
        </section>
    </div>

<%- include("../partials/footer") %>